# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment files
.env
*.env

# Node
node_modules/

# Build
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Datasets
# Datas
backend/damage_detection/
backend/damage_detection_yolo/
backend/datasets/
backend/organized_dataset/
backend/organized_dataset_test/
backend/training/
backend/test_segmentation/

# YOLO Pretrained Models
backend/yolov8n.pt
backend/yolov8n-seg.pt

# Uploaded Images
backend/app/static/uploads/

# ML Models (if large)
backend/app/ml/

backend/test_segmentation.py